@font-face {
    font-family: 'Montserrat Bold';
    src: url('assets/fonts/MontserratBold.woff2') format('woff2'),
         url('assets/fonts/Montserratbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('assets/fonts/MontserratRegular.woff2') format('woff2'),
         url('assets/fonts/MontserratRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Kamikaze 3D';
    src: url('assets/fonts/Kamikaze3DGradientRegular.woff2') format('woff2'),
         url('assets/fonts/Kamikaze3DGradientRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('assets/fonts/Cinzel-Regular.woff2') format('woff2'),
         url('assets/fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Stevie Sans Black';
    src: url('assets/fonts/StevieSansBlack.woff2') format('woff2'),
         url('assets/fonts/StevieSansBlack.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Stevie Sans Book';
    src: url('assets/fonts/StevieSansBook.woff2') format('woff2'),
         url('assets/fonts/StevieSansBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    /* background-color: #ffffc8; */
    background-image: url(assets/images/edu_large.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.nav_bar {
    position: relative;
    font-family: 'Montserrat Bold', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 2.5%;
    user-select: none;
    z-index: 4;
}

.button:hover {
    color:#aa8d3a;
}

a {
    text-decoration: none;
    color: inherit;
}

#heading {
    text-align: center;
    color: black;
    font-family: 'Kamikaze 3D', sans-serif;
    font-size: 11vh;
    z-index: 2;
    margin: 0;
    user-select: none;
    /* text-shadow:
        0 0 40px #ff9d00,
        0 0 80px #ffff00,
        0 0 160px #ffff00,
        0 0 320px #ffff00; */
}

.content {
    position: relative;
    display: flex;
    margin: 1vh;
    top: 2vh;
    left: 16vh;
    max-width: 70%;
    user-select: none;
}

.block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 5vh;
}

.block-title {
    font-family: 'Montserrat Bold', Arial, sans-serif;
    font-size: 2.6vh;
    color: black;
    margin: 1rem;
}

#block1 {
    border-right: 1px solid black;
}

.circle {
    position: relative;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    background-color: white;
    border: 0px solid black;
    box-shadow: -12px 11px 15px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.logo {
    position: relative;
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ryan {
    width: 75%;
}

#dtu {
    width: 100%;
}

#others {
    width: 80%;
}

#extra1 {
    width: 100%;
}

#extra2 {
    width: 70%;
    top: 8.67vh;
    left: 7.7vh;
}

#extra3 {
    width: 100%;
}

.elements {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    margin: 1.7vh;
}

.text-box {
    margin-top: 1.78vh;
    margin-bottom: 1.78vh;
    max-width: 60%;
}

.sub-headings {
    font-family: 'Montserrat Bold', Arial, sans-serif;
    font-size: 2vh;
    color: black;
}

.regular-text p{
    font-size: 1.5vh;
    font-style: italic;
}

.regular-text{
    font-size: 1.6vh;
}

#quote {
    font-size: 1.6vh;
    text-align: center;
    font-style: italic;
    font-family: 'Cinzel', 'Montserrat', Arial, sans-serif;
    position: absolute;
    top: 97%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    color: black;
    z-index: 4;
}

#infinite {
    font-weight: bold;
    font-size: 2vh;
    font-style: normal;
}

/* #switch {
    position: absolute;
    top: 13%;
    left: 50%;
    width: 90px;
    height: 90px;
    border: none;
    background: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    color: #ffb701;
    outline: none;
    box-shadow: none;
    transition: color 0.3s;
}

#switch.on {
    color: #00ff55;
    text-shadow: 0 0 40px #00ff55, 0 0 80px #00ff55;
} */


