@font-face {
    font-family: 'Montserrat Bold';
    src: url('assets/fonts/MontserratBold.woff2') format('woff2'),
         url('assets/fonts/Montserratbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat Regular';
    src: url('assets/fonts/MontserratRegular.woff2') format('woff2'),
         url('assets/fonts/MontserratRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Kamikaze 3D';
    src: url('assets/fonts/Kamikaze3DGradientRegular.woff2') format('woff2'),
         url('assets/fonts/Kamikaze3DGradientRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('assets/fonts/Cinzel-Regular.woff2') format('woff2'),
         url('assets/fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: white;
    background-image: url(assets/images/edu_large.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.nav_bar {
    position: relative;
    font-family: 'Montserrat Bold', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.5%;
    user-select: none;
    z-index: 4;
}

#home {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#education {
    background-color: rgba(0, 0, 0, 0.127);
    border-radius:4rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#hobbies {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#inspirations {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button:hover {
    color:#6c6c6c;
}

a {
    text-decoration: none;
    color: inherit;
}

#heading {
    text-align: center;
    color: black;
    font-family: 'Kamikaze 3D', sans-serif;
    font-size: 11vh;
    z-index: 2;
    margin: 0;
    user-select: none;
}

.content {
    position: relative;
    display: flex;
    margin: 1vh;
    top: 2vh;
    left: 10vh;
    max-width: 72%;
    user-select: none;
    justify-content: space-between;
}

.block {
    position: relative;
    display: flex;
    flex-direction: column;
}

#line {
    position: relative;
    top: 9vh;
    width: 2px;
    height: 55vh;
    background-color: #6c6c6c;
}

.block-title {
    font-family: 'Montserrat Bold', Arial, sans-serif;
    font-size: 2.6vh;
    color: black;
    margin: 1rem;
}

.circle {
    position: relative;
    width: 16vh;
    height: 16vh;
    border-radius: 50%;
    background-color: white;
    border: 0px solid black;
    box-shadow: -12px 11px 15px rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.logo {
    position: relative;
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#ryan {
    width: 75%;
}

#dtu {
    width: 100%;
}

#others {
    width: 80%;
}

#extra1 {
    width: 100%;
}

#extra2 {
    width: 70%;
    top: 8.67vh;
    left: 7.7vh;
}

#extra3 {
    width: 100%;
}

.elements {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    margin: 1.7vh;
    width: 65vh;
}

.elements:hover {
    background-color: #e2e2e289;
    border-radius: 75px;
}

.text-box {
    margin-top: 1.78vh;
    margin-bottom: 1.78vh;
    max-width: 60%;
}

.sub-headings {
    font-family: 'Montserrat Bold', Arial, sans-serif;
    font-size: 2vh;
    color: black;
}

.regular-text p{
    font-style: italic;
}

.regular-text{
    font-size: 1.6vh;
}

#quote {
    font-size: 1.6vh;
    text-align: center;
    font-style: italic;
    font-family: 'Cinzel', 'Montserrat', Arial, sans-serif;
    position: absolute;
    top: 97%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    user-select: none;
    color: black;
    z-index: 4;
}

#infinite {
    font-weight: bold;
    font-size: 2vh;
    font-style: normal;
}


