@font-face {
    font-display: swap;
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: normal;
    src: url('assets/fonts/MontserratBold.woff2') format('woff2'),
         url('assets/fonts/Montserratbold.woff') format('woff');
}


@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('assets/fonts/MontserratRegular.woff2') format('woff2'),
         url('assets/fonts/MontserratRegular.woff') format('woff');
}


@font-face {
    font-family: 'Sigokae Demo';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('assets/fonts/SigokaeDemoRegular.woff2') format('woff2'),
         url('assets/fonts/SigokaeDemoRegular.woff') format('woff');
}

@font-face {
    font-family: 'Smoosh';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('assets/fonts/SmooshMedRegular.woff2') format('woff2'),
         url('assets/fonts/SmooshMedRegular.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: black;
    background-image: url(assets/images/bg_1.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_bar {
    color: white;
    display: flex;
    font-family: 'Montserrat Bold', Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 2em;
    justify-content: center;
    padding: 1.5%;
    position: relative;
    user-select: none;
    z-index: 4;
}

#home {
    background-color: rgba(255, 255, 255, 0.127);
    border-radius:4rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#education {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#hobbies {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#inspirations {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.button:hover {
    color: #a5c2ff;
}

a {
    color: inherit;
    text-decoration: none;
}

#overlay-text {
    color: #4666ab37;
    font-family: 'Smoosh', sans-serif;
    font-size: 97vh;
    left: 50%;
    width: 90%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    z-index: 1;
}

#overlay-image {
    left: 50%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
    z-index: 3;
}

#intro-title {
    color: white;
    font-family: 'Sigokae Demo', 'Montserrat', Arial, sans-serif;
    font-size: 8rem;
    position: relative;
    text-align: center;
    top: 2rem;
    user-select: none;
    z-index: 3;
}

#intro-text {
    color: white;
    font-family: 'Montserrat Regular', Arial, sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    position: relative;
    text-align: center;
    user-select: none;
    z-index: 3;
}

#play-btn {
    background-color: transparent;
    border: none;
    bottom: 20px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    right: 30px;
    z-index: 4;
}
